.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inner {
    width: 100%;
}

.skewed {
  transform: skewX(24deg);
}

.rounded {
  border-radius: 22px;
}

.wrapped {
  max-width: var(--max-width);
}
