.footer {
  width: 100%;
  max-width: var(--max-width);
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 940px) {
  .footer {
    padding: 0 20px;
  }
}

.footer p {
  font-size: 14px;
  color: #868686;
}


